<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Hello <%=locals.name %></h1>
<main>
    <form method="POST" action="/contact ">
 
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

        <button type="submit">Submit</button>
    </form>
</main>
     
</body>
<script src="script.js"></script>