<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main>
    <form method="POST" action="/login ">
        <h1>Login</h1>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="email">Password:</label>
        <input type="password" id="password" name="password" required>

    <button type="submit">Log In</button>
</form>
</main>
     
</body>
<script src="script.js"></script>