<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main>
    <form method="get" action="/logout">
   <h1>Hi <%= name%></h1>
        <button type="submit">Logout</button>
    </form>
</main>
     
</body>
<script src="script.js"></script>