<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main>
    <form method="POST" action="/register ">
        <h1>Register</h1>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="email">Password:</label>
        <input type="password" id="password" name="password" required>

    <button type="submit">Sign In</button>
</form>
</main>
     
</body>
<script src="script.js"></script>