body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    border-top: 8px solid #6a4bff; /* Thicker, colorful border */
    transition: transform 0.3s;
}

form:hover {
    transform: translateY(-5px); /* Subtle lift effect on hover */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #444;
    font-weight: 600;
    letter-spacing: 0.5px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    background-color: #f9f9ff; /* Light background color */
}

input:focus {
    border-color: #6a4bff; /* Purple border on focus */
    box-shadow: 0 0 8px rgba(106, 75, 255, 0.5);
    outline: none;
    background-color: #e7e7ff; /* Slightly darker background on focus */
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background: linear-gradient(135deg, #6a4bff, #8f00ff); /* Gradient button */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    font-weight: bold;
}

button:hover {
    background: linear-gradient(135deg, #8f00ff, #a832ff); /* Darker gradient on hover */
    box-shadow: 0 4px 12px rgba(168, 50, 255, 0.3);
}

button:active {
    transform: scale(0.98); /* Slight shrink on click */
}
